.pokemon-sprite {
    image-rendering: pixelated;
}

.form-pokemons {
    display: flex;
}

.form-pokemon {
    display: flex;
    flex-direction: column;
}

/* Hide google reCaptcha badge */
.grecaptcha-badge {
    display: none;
}
